# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
**/*.log

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Static files
public/static/

# Test coverage
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local environment configuration
.local/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IntelliJ
/.idea
*.iml

# Other files
*.temp
*.tmp
*.bak
*.backup