* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #e8e8e8;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  font-size: 28px;
  font-weight: 700;
  color: orangered;
}

.header__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header__menu ul li {
  margin: 0 10px;
}

.header__menu ul li a {
  font-weight: 600;
  color: black;
}

.header__menu ul li a:hover,
.header__menu ul li a.active {
  color: orangered;
}

.header__account a {
  margin-left: 10px;
}

.header__menu ul li {
  position: relative;
}

.header__menu ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cbcbcb;
  padding: 10px;
  flex-wrap: wrap;
  width: 200px;
  border-radius: 5px;
  display: none;
}

.header__menu ul li:hover ul {
  display: inline-flex;
}
/* End Header */

/* Button */
.button {
  background-color: orangered;
  border: 1px solid orangered;
  font-weight: 600;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.button--outline {
  background-color: transparent;
  color: orangered;
}

.button--outline:hover {
  background-color: orangered;
  color: white;
}
/* End Button */

/* Footer */
.footer {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: 600;
}
/* End Footer */
.products{
  display: flex;
  flex-wrap: wrap;

}
.products__item{
  border: 1px solid black;
  margin: 5px;
}

.pagination button{
  padding: 10px;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
}
.pagination button:hover{
  color: blue;
}
.pagination button.active{
  background-color: yellowgreen;
}
.ff{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}